.main {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.current-operation {
  overflow: hidden;
  line-height: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 7px 0;
  margin-left: 2px;
  width: 188px;
  text-align: right;
  box-sizing: border-box;
  padding: 0 5px;
}
